#featured{
	width:608px;
	padding-right:284px;
	position:relative;
	height:280px;
}
#featured ul.ui-tabs-nav{
	position:absolute;
	top:0;
	left:608px;
	list-style:none;
	padding:0;
	margin:0;
	width:284px;
}
#featured ul.ui-tabs-nav li{
	padding:1px 0;
	padding-left:13px;
	font-size:12px;
	color:#909090;
}
#featured ul.ui-tabs-nav li img{
	float:left;
	margin:0;
	padding-right: 5px;
}
#featured ul.ui-tabs-nav li span{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:16px;
}
#featured li.ui-tabs-nav-item a{
	display:block;
	height:85px;
	color:#909090;
	line-height:18px;
	background-image: url(../images/featuredbg.png);
	width:258px;
	margin: 3px 3px 3px 0;
	padding-right:5px;
	text-decoration: none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background-image: url(../images/featuredbg_hover.png);
}
#featured li.ui-tabs-selected{ 
	background:url(../images/selected-item.png) top left no-repeat;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background-image: url(../images/featuredbg_selected.png);
}
#featured .ui-tabs-panel{
	width:608px;
	height:280px;
	position:relative;
}
#featured .ui-tabs-panel .info{
	position:absolute;
	top:200px;
	left:0;
	height:80px;
	background: url(../images/transparent-bg.png);
	padding: 0 10px;
}
#featured .info h2{
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	padding:5px;
	margin:0;
	overflow:hidden;
}
#featured .info p{
	margin:0 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:none; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}
