<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>WELCOME JOIN US--&lt;<{$siteconfig.sitename}>&gt;</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>	
            
        <link href="css/featuredcontent.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" ></script>
    
    </head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="wrapper">
   <{include file="default/head.html"}>
    <div id="content">
      <h2>欢迎加入我们</h2>    
      <div style="text-align: center"><img alt="团队LOGO" src="images/logo.png"</div>
      <div>
           &nbsp;&nbsp;&nbsp;&nbsp;我们正在寻找志同道合的朋友（大连东软信息学院），希望您能够与我们联系！即便是我们现在没有经济收入，但是作为未步入社会的学生们来讲，积累技术经验才是我们的当务之急！          
      </div>
      <div style="clear:both; margin-left: 10%; margin-right: 10%; margin-top: 20px;">
              <table style="width: 100%; border: 1px solid #909090;">
                  <tr>
                      <th colspan="2" style=" text-align: center; width: 10%;border-bottom: 1px solid #909090;">联系方式</th>
                  </tr>
                  <tr>
                      <td style="width: 20%;border-right: 1px dashed #909090;border-bottom: 1px dashed #909090; ">联系地址：</td>
                      <td style="border-bottom: 1px dashed #909090;">大连东软信息学院二期公寓E442</td>
                  </tr>
                  <tr>
                      <td style="width: 20%;border-right: 1px dashed #909090;border-bottom: 1px dashed #909090;">E-mail：</td>
                      <td style="border-bottom: 1px dashed #909090;"><a href="mailto:admin@uugu.org">admin@uugu.org</a></td>
                  </tr>
                  <tr>
                      <td style="width: 20%;border-right: 1px dashed #909090;border-bottom: 1px dashed #909090;">擅长技术：</td>
                      <td style="border-bottom: 1px dashed #909090;">安全评估，检测，入侵，软件开发等</td>
                  </tr>
                  <tr>
                      <td style="width: 20%;border-right: 1px dashed #909090;">要求语言：</td>
                      <td>C++，Java，PHP，C#，VB.Net，JS，CSS...</td>
                  </tr>
              </table>
          </div>
    </div>
  </div>
   <{include file="default/footer.html"}>
</form>
</body>
</html>
