<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>UUGU TEAM INTRODUCTION【介绍】--&lt;<{$siteconfig.sitename}>&gt;</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />    
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>            
        <link href="css/featuredcontent.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" ></script>
    </head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="wrapper">
   <{include file="default/head.html"}>   
    <div id="content">
      <h1>About Us</h1>
      <p><img src="images/pic03.gif" alt="" width="198" height="147" class="leftimg" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大家好，欢迎来到我们的官方站点，从一定程度上来讲，您是对我们感兴趣了，所以您才来到此对我们更深的了解。<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们团队的精神：坚持自己的兴趣是最大的原动力！我们服务于广大广大网民群众，为任何人提供计算机安全，软件及其IT相关需求需求。我们还在成长，希望您的支持！<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;包含领域：计算机网站，桌面数据管理软件，安全检测，系统部署，计算机故障解决，远程故障解决等。当然这些并不是我们的所有业务，如果您有其他的计算机方面的需求，您尽可能和我们取得联系，我们会在第一时间给与您答复。</p>
         </div>
  </div>
  <{include file="default/footer.html"}>
</form>
</body>
</html>