<div id="footer"><div id="bottomcontent">
        <div id="b1">
            <h3> More About Us</h3>
            &nbsp;&nbsp;&nbsp;&nbsp;欢迎来到我们的官方站点，从一定程度上来讲，您是对我们感兴趣了。 <br/> &nbsp;&nbsp;&nbsp;&nbsp;我们服务于广大广大网民群众，为任何人提供计算机安全评估，检测，入侵及其IT相关需求需求。 包含领域：计算机网站，桌面数据管理软件，安全检测，系统部署，计算机故障解决，远程故障解决等。 </div>
        <div id="b3">
            <h3>Looking for us?</h3>
            <span class="lightbluetext">Studio Name:</span><br />
            <{$siteconfig.shortname}> <{$siteconfig.sitename}><br />
            <span class="lightbluetext">Address:</span> <{$siteconfig.address}><br />
            <span class="lightbluetext">Phone:</span> +86 <{$siteconfig.tel}><br />
            <span class="lightbluetext">Moble:</span> +86 <{$siteconfig.mobile}><br />
            <span class="lightbluetext">E-mail:</span> <a href="mailto:<{$siteconfig.email}>"><{$siteconfig.email}></a></div>
        <div id="b2">
            <h3>What We Do</h3>
            <ul>
                <li><a href="#">IT服务安全检测及渗透</a></li>
                <li><a href="#">中小型网站解决方案</a></li>
                <li><a href="#">安全软件专业设计</a></li>
                <li><a href="#">计算机系统部署及维护</a></li>
                <li><a href="#">服务计算机用户功能实现等...</a></li>
            </ul>
        </div>

    </div></div>
<!-- End Footer One  -->

<!-- Begin Footer Two  -->
<div id="footer2">
    <div id="bottomcontent2">
        <center><div>2011-2012&COPY; Copyright All rights reserved. <a href="<{$siteconfig.siteurl}>" alt="<{$siteconfig.sitename}>" target="_blank"><{$siteconfig.shortname}>.</a>
             <{$siteconfig.statistics}>   
        </div></center>
        <script type="text/javascript">
            (function() {
                var c = document.createElement('script'); c.type = 'text/javascript'; c.async = true;
                c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/44992';
                var h = document.getElementsByTagName('head')[0]; h.appendChild(c);
            })();
        </script>
        <div id="clicki_widget_2790" ></div>
    </div>
</div>