<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UUGU PROJECTS【项目】--&lt;<{$siteconfig.sitename}>&gt;</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>	

<link href="css/featuredcontent.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" ></script>

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="wrapper">
    <{include file="default/head.html"}>
    <div id="content">
      <h1>Projects List</h1>    

     <div style="float:left">
          <p><img src="images/pic06.jpg" alt="" width="198" height="147" class="leftimg" /></p>
          <h4><a href="" alt="" target="_blank">项目1：【NSS官网开发】</a></h4>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;项目开发周期(2011.10-2011.-)。
              项目名（NSS）。官网网站于2011年10月13日改革，引入#￥*&…框架，抛弃了传统的PHP代码嵌套开发方式。</p>          
      </div>
      
    </div>
  </div>
    <{include file="default/footer.html"}>
</form>
</body>
</html>
