<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>UUGU RULES【规定】--&lt;<{$siteconfig.sitename}>&gt;</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />    
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>            
        <link href="css/featuredcontent.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" ></script>
    </head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="wrapper">
   <{include file="default/head.html"}>   
    <div id="content">
      <h1>Our Rules</h1>
      <center><h3>UUGU TEAM守则</h3></center></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网络安全工作室守则是依据国内《黑客守则》为母版，结合大连东软信息学院实际情况而制定的约束工作室成员的行为准则。工作室全体成员都要以此为训，规范好自己的行为。</br></br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 保密工作室内部任何信息资料，不要在BBS论坛上谈论关于你 Hack或者有关于工作室严谨外泄的任何事情。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 对校内服务器进行检测渗透时，必须填写《渗透目标说明及修补方案》和《渗透操作步骤》。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 对校内服务器的运行造成影响要立即与指导老师取得联系，并提交《渗透操作步骤》文档。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 渗透过程中对校内其他组织服务器已经造成了可观的影响后，要本人编篡《渗透目标说明及修补方案》文档并且要对自己的失误表示歉意请求对方原谅。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 成功渗透系统并全身而退后，依然要编篡《渗透目标说明及修补方案》文档，《渗透操作步骤》文档，提交给指导老师。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. 不恶意破坏任何的系统，并且千万不要破坏别人的文件或数据。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. 不修改任何系统文件, 如果你是为了要进入系统而修改它, 请在达到目的后将它还原。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. 不要轻易的将你要 Hack 的站点告诉你不信任的朋友。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. 在 Post 文章的时候不要使用真名。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10. 入侵期间, 不要随意离开你的电脑。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. 不要入侵或攻击电信、政府机关的主机。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. 将你的笔记放在安全的地方。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13. 读遍所有有关系统安全或系统漏洞的文件 (英文快点学好)!</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14. 已侵入电脑中的原有帐号不得删除或修改。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15. 不得修改系统文件, 如果为了隐藏自己的侵入而作的修改则不在此限, 但仍须维持原来系统的安全性, 不得因得到系统的控制权而破坏原有的安全性。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16. 不将你已破解的帐号分享与你的朋友。</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17. 不得使用DDOS等攻击手段恶意攻击校内站点，致其无法正常提供服务。</br></br>
    UUGU TEAM</br>
    2012年1月22日</br>
    </div>
  </div>
  <{include file="default/footer.html"}>
</form>
</body>
</html>