<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加信息 --&lt;<{$siteconfig.sitename}>&gt;</title>

<!-- CSS -->
<link href="template/default/admin/style/css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="template/default/admin/style/css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="template/default/admin/style/css/ie7.css" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="template/default/admin/style/js/jquery.js"></script>
<script type="text/javascript" src="template/default/admin/style/js/jNice.js"></script>
<script charset="utf-8" src="include/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="include/kindeditor/lang/zh_CN.js"></script>
<link rel="stylesheet" href="include/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="include/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="include/kindeditor/plugins/code/prettify.js"></script>
<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : 'include/kindeditor/plugins/code/prettify.css',
            uploadJson : 'include/kindeditor/php/upload_json.php',
            fileManagerJson : 'include/kindeditor/php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
</head>

<body>
	<div id="wrapper">
    	<{include file="default/admin/head.html"}>
        
        <div id="containerHolder">
            <div id="container">
        	<div id="sidebar">
                    <ul class="sideNav">
                        <li><a href="<{spUrl c=news a=article}>" class="active">Write Article</a></li>
                    	<li><a href="<{spUrl c=news a=index_c item=1}>">News Management</a></li>                    	
                    	<li><a href="<{spUrl c=news a=index_c item=2}>">Notes Management</a></li>
                    
                    </ul>
                    <!-- // .sideNav -->
                </div>    
                <!-- // #sidebar -->            
                <!-- h2 stays for breadcrumbs -->
                <h2><a href="<{spUrl c=news a=article}>">Article</a> &raquo; <a href="<{spUrl c=news a=article}>" class="active">Write Article</a></h2>
                
                <div id="main">
                    <form action="<{spUrl c=news a=save_news}>" method="post" class="jNice">
			<h3>Article Infomation</h3>
                    	<fieldset>
                            <p><label>News Name:  <span style="float: right;padding-right: 250px">News Author:</span></label>
                                <input type="text" name="news_name" class="text-long" /><input type="text" name="news_author" class="text-medium" style="margin-left:43px"/>
                            </p>
                            <p><label>News Item:  <span style="float: right;padding-right: 260px">News Type:</span></label>
                                <select name="news_item">
                            	<option value="1">消息新闻</option>
                            	<option value="2">团队公告</option>
                                </select>
                                <input type="text" name="news_type" class="text-medium" style="margin-left:53px"/>
                            </p>
                         
                            <p><label>Article Content:</label><textarea name="content" style="width: 100%;height: 270px;"><?php echo htmlspecialchars($htmlData); ?></textarea></p>
                            <input type="submit" value="Submit" />
                        </fieldset>
                    </form>
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <{include file="default/admin/footer.html"}>
    </div>
    <!-- // #wrapper -->
</body>
</html>
